<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="/home" class="brand-logo">Logo</a>
      <ul class="right">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">User<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>