
<div class= "spacing"></div>
<div class="valign-wrapper row login-box">
  
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <nav>
          <div class="nav-wrapper teal lighten-2">
            <ul id="nav-mobile" class="left">
              <li><a href="/login">Login</a></li>
              <li><a href="/reg">Register</a></li>
            </ul>
          </div>
        </nav>
    <form (submit)="register()">
      <div class="card-content">
        <span class="card-title">New Chatters</span>
        <div class="row">
                <div class="input-field col s12">
                    <label for="name1">First name</label>
                    <input type="text" class="validate" name="firstName" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"/>
                 </div>
                <div class="input-field col s12">
                    <label for="name2">Last name</label>
                    <input type="text" class="validate"[(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"/>
                  </div>
          
          <div class="input-field col s12">
            <label for="email">Email</label>
            <input type="email" class="validate" id="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="input-field col s12">
            <label for="password">Password </label>
            <input type="password" class="validate" id="password1" [(ngModel)]="passwords.pw" [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="input-field col s12">
              <label for="password">Confirm Password </label>
              <input type="password" class="validate" id="password2" [(ngModel)]="passwords.pwc" [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
      </div>
      <div class="card-action right-align">
        <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
        <input type="submit" class="btn teal lighten-2 waves-effect waves-light" value="Login">
      </div>
    </form>
  </div>

</div>